


.Government{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 5%;
    
}
.my-label{
    display: block;
    text-align: center;
    margin-right: -388px;
    margin-bottom: 11px;
    font-size: large;
    font-weight: bold;
}
.selectors{
    margin-left: 200px;
    width: 100%;
    padding: 3%;
    text-align: center;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    
}

.selectors option {
    background-color: #fff;
    color: #000;
    font-size: 16px;
}
/* .content{
    height:auto;
    width: auto;
    margin: 40px ;
    padding: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 20px;
    column-gap: 20px;
    grid-area:3/4;
} */
.content{
    display: inline-flex;
    margin-right: -37px;
    margin-left: 171px;  
}
.card{
    margin: 40px;
    padding:20px;
    height: auto;
    width: 450px;
    background: linear-gradient(#ADA996, #F2F2F2,#DBDBDB,#EAEAEA);
    display: flex;
    border-radius: 4%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* .card .img{
    width: 100px;
    height:100px;
    border-radius: 10px;
}

.card .img .details ul{
    list-style-type: none;
} */

.card .details{
    width: 50%;
    margin: 0 auto;
    padding-top: 19mm;
    padding-left: -2mm;
}

.card .imge img {
    border-radius: 54px;
    margin: 26px;
    margin-top: 66px;
    height: 123px;
    width: 167px;
}

.list-doctors {
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
li {
    margin-top: 5px;
}

.form{
    display: flex;
}
.form input {
    height: 56px;
    width: 161px;
    margin-right: 230px;
    margin-top: 109px;
    padding: 15px;
    color: white;
    background-color:#B21F1F;
    font-weight: bold;
    border-radius: 7px;
    border: none;
    cursor:pointer;
    
}
input:hover{
background-color: black;
}


@media(max-width: 992px){
  .form input{
    margin-left: 26%;
    margin-right: 63px;
  }
}