*{
  box-sizing: 0px;
  margin: 0;
  
  
}
.full{
  background-color: rgb(24, 35, 93);
  height: 620px;
}

.testt{
  width: 1151px;
  height: 534px;
  background-color:white;
  top: 54px;
  margin-left: 175px;
  position: relative;
  box-shadow: 5px 5px 8px 10px #120e0e6e;
  
}
.half{
width: 44%;
height: 100%;
background-color: whitesmoke;
float: left;
}
h3 {
  font-size: 36px;
  font-style: initial;
  padding-bottom: 20px;
  color: #eb2121f0;
  margin-top: 17px;
  margin-left: 97px;
}
  p {
      color: rgb(24, 35, 93);
      width: 85%;
      margin-left: 57px;
      font-size: 20px;
  }
img {
  width: 74%;
  height: 56%;
  background-color: transparent;
  margin-top: 66px;
  margin-left: 51px;
}
.second-half{
  float: right;
  width: 47%;
 background-color: transparent;
 margin-top: 33px;
}
label.labels {
  font-size: 21px;

  color: rgb(24, 35, 93);
  font-weight: bold;
  
}
input[type="number"]{
  border: 3px solid #dbdeec;
  border-radius: 23px;
  box-sizing: border-box;
  width: 72%;
  padding: 5px 9px;
  
  outline: none;
}
#lastinput{
  margin-bottom: 15px;
}
button {
  padding: 2px 57px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #c22020d6;
  border: none;
  border-radius: 47px;
  margin-left: 91px;
}




button:hover {background-color: #cecfd6}

button:active {
  background-color: #cecfd6;
  box-shadow: 0 2px #b3b1b1;
  transform: translateY(4px);
}
@media(max-width:767px){
  .full{
    background-color: rgb(24, 35, 93);
    height: 620px;
  }
  
  .testt{
    width: 1151px;
    height: 534px;
    background-color:white;
    top: 54px;
    margin-left: 175px;
    position: relative;
    box-shadow: 5px 5px 8px 10px #120e0e6e;
    
  }
  .half{
  width: 44%;
  height: 100%;
  background-color: whitesmoke;
  float: left;
  }

}
@media(min-width:768px) and (max-width:991px){
}




