*{
  margin: 0;
  padding: 0;
}
.predictionform{
  margin-top: 5px;
  margin-left: 558px;
}

#Questions {
 
}
.headline {
  margin-bottom: 15px;
  color: #4e63fc;
  text-decoration: underline;
  
font-size: 65px;
}
form{
  margin-left: 50px;
}
input[type="number"]{
  border: 4px solid #f8f4f4;
    border-radius: 9px;
    box-sizing: border-box;
    width: 38%;
    padding: 2px 6px;
    margin: 1px 1px;
    background-color: #dedede;
  
}

input[type=text]:focus {
  border: 3px solid #a83535;
}
::placeholder{
  color: #cecfd6;
}
button {
  padding: 11px 33px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #636efe;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px #999;
  margin-left: 60px;
}

button:hover {background-color: #636efe}

button:active {
  background-color: #636efe;
  box-shadow: 0 2px #b3b1b1;
  transform: translateY(4px);
}
#full{
 
    background-image: url("..//background-circle.png");
  
    height: 100%;
    
}
.help{
  padding-top: 3px;
    color:#4D63FB;
    float: right;
    position: relative;
    left: -60px;
    bottom: -60px;
    font-family: Arial, Helvetica, sans-serif ;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
}
a {
  color: #4D63FB;
}