
*{
    margin: 0;
    padding: 0;
}

.content{
  border: 3px solid #fff;
  padding: 10px;
}
.child-float{
  width: 50%;
    float: left;
    
    border: 2px ;
}

#D{
    font-size: 58px;
}
#ourgoal{
    font-size: 30px;
    margin-top: 11px;
}
.textbox{

    color: aliceblue;
    padding: 94px 240px 128px 92px;
    float: left;
}

button {
        border: none;
        display: block;
        position: relative;
        padding: 0.7em 2.4em;
        font-size: 18px;
        background: transparent;
        cursor: pointer;
        user-select: none;
        overflow: hidden;
        color: royalblue;
        z-index: 1;
        font-family: inherit;
        font-weight: 500;
      }
      
 button span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: -1;
        border: 4px solid royalblue;
      }
      
button span::before {
        content: "";
        display: block;
        position: absolute;
        width: 8%;
        height: 500%;
        background: var(--lightgray);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-60deg);
        transition: all 0.3s;
      }
      
 button:hover span::before {
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 100%;
        background: royalblue;
      }
      
      button:hover {
        color: white;
      }
        button:active span::before {
        background: #2751cd;
      }

#picbox{
  
}
img.homepic {
    height: 551px;
}
.line{
    position: absolute;
    align-items: center;
    top: 487px;
    left: 437px;
}
@media screen and (max-width:600px){
  

}