
*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
display: grid;

grid-template-areas:
"header header header"
"main main main"
"footer footer footer";

grid-template-columns: 2fr 4fr 1fr;
grid-template-rows: auto 1fr auto;
grid-gap: 10px;

height: 100vh;

}

.site-header {
  grid-area: header;
  background-color: white;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 77px;
  position: sticky;   
  top: 0; 
  left: 0;
  z-index: 1;
  overflow: hidden;
}



.site-header .logo {
  float: left;
  width: 15%;
  height: 77px;
}

.site-header .logo img{
  margin-top: -29px;
  margin-left: -30%;
  height: 136px;
  float: left;
  padding-left: 34%;
  width: 251px;
}

.site-nav {
display: flex;
align-items: center;
justify-content: space-between;
overflow: hidden;
  }


.site-nav ul {
  list-style-type: none;
  margin: 0;
  margin-left: 185px;
  padding: 17px;
}


.site-nav li {
  display: inline-block;
  margin: 0 10px;
  padding-left: 30px;

}
.reg{

  float: right;
  text-align: center;
  background-color: #B21F1F;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    font-style: italic;
    font-size: 0px;
    border: none;
    border-radius: 14px;
    width: 103px;
    cursor: pointer;
}
.logout-button{
  float: right;
  text-align: center;
  background-color: #B21F1F;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    font-style: italic;
    font-size: 1px;
    padding-right: 103px;
    padding-left: 0px;
    border: none;
    border-radius: 14px;
    width: 103px;
    cursor: pointer;
    margin-right: 2%;
}

.logout-button:hover{
  background-color: black;
}

.reg:hover{
  background-color: black;
}

.site-nav a {
  color: white;
  display: flex;
  gap: 2rem;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: x-large;
}
.site-nav .icons{
  padding: 25px;
    float: right;
    cursor: pointer;
  }
.site-nav .toggle_btn{
  color:#B21F1F;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 31px;
  margin-left: 381%;
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.dropdown_menu{
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
position: fixed;
right: 2rem;
top: 60px; 
width: 300px;
height: 0;
background:#B21F1F3D;
backdrop-filter: blur(100px);
border-radius: 10px;
overflow: hidden;
transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
  height: 300px;
}

.dropdown_menu ul li a{
  color: white;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



#scroll-up-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#B21F1F;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#scroll-up-btn:hover {
  background-color: #555;
}

.site-main{
  grid-area: main;
}
.site-footer{
  grid-area: footer;
  width: auto;
  height: 68px;
  clear: both;
  margin-top:0%;
  background-color:lightgray;
}

#para-footer{
  text-align: center;
  margin-top: 2%;
  font-size: 16px;
   color:black;
}





@media(max-width: 992px) {

.site-nav a ,
.site-nav .icons i{
  display: none;
}
.logout-button{
  display: none;
}
.reg{
  display: none;
}
  .site-nav .toggle_btn{
    display: block;
    margin-left: 43%;
  }
  .dropdown_menu{
    visibility: visible;
  }

  .dropdown_menu ul{
    margin-right: 181px;
  }
  .site-header .logo img{
    height: 172px;
    float: left;
    padding-left: 30%;
  }
  .site-header {
    position: fixed;
    height: 101px;
  }
}


@media(max-width: 414px) {

  .site-nav a ,
  .site-nav .icons i{
    display: none;
  }
    .site-nav .toggle_btn{
      display: block;
    }
    .dropdown_menu{
      visibility: visible;
    }
    
  
    .site-header .logo img{
      height: 172px;
      float: left;
      padding-left: 30%;
    }
    .site-header {
      position: fixed;
      height: 125px
    }
}

