Body{
     background-image:url('..//image\(1\).jpg') 
    /* background: linear-gradient(#333333 , #dd1818); */
}
.card{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:linear-gradient(#ADA996, #F2F2F2,#DBDBDB,#EAEAEA);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    height: auto;
    width: 800px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.card img {
    width: 100px;
    height:100px;
    margin-top: -77px;
    border-radius: 10px;
}
.card .content{
    color: #000000;
    text-align: center;
    padding: 10px;
}
/* p{
    margin: 10px;
    font-size: 30px;
} */
.card .content .neg{
    color: rgb(218, 18, 18);
    font-weight: bold;
    margin: 10px;
    font-size: 30px;
}
.card .content .pos{
    color: rgb(24, 213, 24);
    font-weight: bold;
    margin: 10px;
    font-size: 30px;
}
 

.card .buttons .b1{
    display: flex;
    gap: 20px;
    text-align: center;
    padding: 12px 30px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background:  #B21F1F;
    /* background-color: #636efe; */
    border: none;
    border-radius: 10px;
    /* box-shadow: 0 4px #999; */
}
.card .buttons{
    display: flex;
    gap: 20px;
    text-align: center;
}
a{
    text-decoration: none;
}
/* .card .buttons .b2{
    display: flex;
    gap: 20px;
    text-align: center;
    padding: 12px 30px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #636efe;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #999;
}

.card .buttons .b3{
   
    padding: 12px 30px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #636efe;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #999;
} */